.skills__list {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
}

.skill-img {
  width: 50px; /* Điều chỉnh kích thước ảnh */
  height: 50px; /* Điều chỉnh kích thước ảnh */
  /* border-radius: 50%; Tạo viền bo tròn */
  object-fit: cover; /* Đảm bảo ảnh không bị kéo ra khi bo tròn */
}

